asgiref==3.2.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.2.2
defusedxml==0.6.0
Django==3.0.3
django-bootstrap-datepicker==1.4.0
django-crispy-forms==1.8.1
django-modeltranslation==0.14.4
django-weasyprint==0.5.5
html5lib==1.0.1
Pillow==7.0.0
pycparser==2.19
Pyphen==0.9.5
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
