asgiref==3.2.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
cssselect2==0.2.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.6
django-bootstrap-datepicker==1.4.0
django-crispy-forms==1.8.1
django-heroku==0.3.1
django-modeltranslation==0.14.4
django-weasyprint==0.5.5
gunicorn==20.0.4
html5lib==1.0.1
Pillow==7.0.0
psycopg2==2.8.4
pycparser==2.19
PyPDF2==1.26.0
Pyphen==0.9.5
pytz==2019.3
reportlab==3.5.34
six==1.14.0
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
whitenoise==5.0.1
xhtml2pdf==0.2.4
