{% extends 'digitalbeti/logged-in/dashboard_base.html' %}

{% load static i18n %}

<!-- Title -->
{% block title %}
    Curriculum || Digital Beti
{% endblock title %}

{% block subheader %}
    <!-- Heading -->
    <div class="container-fluid dashboard-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center">{% trans 'Digital' %} <span class="text-dark">{% trans 'Curriculum' %}</span></h1>
            </div>
        </div>
    </div>
{% endblock subheader %}


{% block body %}

    <!-- Digital Curriculum -->
    <div class="container-fluid pb-4">
        <div class="row justify-content-center py-2 mt-5">
            <div class="col-sm-4">
                <a href="{% url 'digital-marketing' %}"><span class="blue-board-link"></span></a>
                <div class="row">
                    <div class="col py-2 d-flex justify-content-center align-items-center">
                        <img src="{% static 'digitalbeti/images/home/digital-marketing.png' %}" class="img-fluid"
                             width="250px" height="250px">
                    </div>
                </div>
                <div class="row">
                    <div class="col py-2 d-flex justify-content-center align-items-center font-weight-bold">
                       {% trans 'Digital Marketing' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'jobs' %}"><span class="blue-board-link"></span></a>
                <div class="row">
                    <div class="col py-2 d-flex justify-content-center align-items-center">
                        <img src="{% static 'digitalbeti/images/home/jobs.png' %}" class="img-fluid" width="250px"
                             height="250px">
                    </div>
                </div>
                <div class="row">
                    <div class="col py-2 d-flex justify-content-center align-items-center font-weight-bold">
                        {% trans 'Jobs and Livelihood' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'online-safety' %}"><span class="blue-board-link"></span></a>
                <div class="row">
                    <div class="col py-2  d-flex justify-content-center align-items-center">
                        <img src="{% static 'digitalbeti/images/home/safety.png' %}" class="img-fluid" width="250px"
                             height="250px">
                    </div>
                </div>
                <div class="row">
                    <div class="col py-2 d-flex justify-content-center align-items-center font-weight-bold">
                        {% trans 'Online Safety' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}