{% extends 'digitalbeti/logged-in/dashboard_base.html' %}
{% load static %}
<!-- Title -->
{% block title %}
    Reset Password || Digital Beti
{% endblock title %}

{% load crispy_forms_tags %}

{% block subheader %}
    <!-- Heading -->
    <div class="container-fluid dashboard-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center">Change Password</h1>
            </div>
        </div>
    </div>
{% endblock subheader %}

{% block body %}

    <!-- Form -->
    <div class="container py-5">
        <form method="post">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    {{ form.old_password|as_crispy_field }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    {{ form.new_password1|as_crispy_field }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    {{ form.new_password2|as_crispy_field }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-orange">Change</button>
                </div>
            </div>
        </form>
    </div>

{% endblock body %}


{% block scripttags %}
    <script src="{% static "digitalbeti/js/address-form.js" %}"></script>
{% endblock scripttags %}