{% extends 'digitalbeti/logged-in/dashboard_base.html' %}
{% load static %}

<!-- Title -->
{% block title %}
Competition || Digital Beti
{% endblock title %}

{% block subheader %}
    <!-- Heading -->
    <div class="container-fluid dashboard-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center">Competition</h1>
            </div>
        </div>
    </div>
{% endblock subheader %}

{% block body %}

<!-- Body -->

{% endblock body %}