{% extends 'digitalbeti/logged-in/dashboard_base.html' %}

<!-- Title -->
{% block title %}
Not Registered || Digital Beti
{% endblock title %}
{% block subheader %}
    <!-- Heading -->
    <div class="container-fluid dashboard-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center">VLE Registration <span class="text-dark">Pending</span></h1>
            </div>
        </div>
    </div>
{% endblock subheader %}

{% block body %}

<!-- Content -->
<div class="container">
    <div class="row justify-content-center align-self-center">
        <div class="col-12">
            <h4 class="text-center about-text" style="color: #5C5C5C;margin-top:20vh">
                Sorry, your details are not completed with us at the moment. Please click the button below to complete your details:
            </h4>
        </div>
        <div class="col-12">
            <p class="text-center about-text">
                <a class="btn btn-orange" href="{% url 'vle_details_input' %}">Register</a>
            </p>
        </div>
    </div>
</div>

{% endblock body %}