{% extends 'digitalbeti/logged-in/dashboard_base.html' %}
{% load i18n %}
<!-- Title -->
{% block title %}
Exam Completed || Digital Beti
{% endblock title %}

{% block body %}

<!-- Content -->
<div class="container py-4">
    <div class="row justify-content-center align-self-center">
        {% if success %}
        <div class="col-12">
            <h1 class="text-center mt-5">
                {% trans 'You Passed' %}!!
            </h1>
            <p class="text-center about-text mt-4">
               {% trans 'Congratulations, you scored' %}  {{ answer_set.score }}/{{ answer_set.total_score }} {% trans 'correct answers. You have successfully cleared the' %} <b>{{ exam.title }}</b> {% trans 'examination. You can download the certificate from below.' %}
            </p>
        </div>
        <div class="col-12">
            <p class="text-center about-text">
                <a class="btn btn-orange" href="{% url 'download_certificate' ref_hash=answer_set.ref_hash %}"
                    download>Download Certificate</a>
            </p>
        </div>
        {% else %}
        <div class="col-12">
            <h1 class="text-center mt-5">
                {% trans 'Better Luck Next Time.' %}
            </h1>
            <p class="text-center about-text mt-4">
                {% trans 'You scored' %} {{ answer_set.score }} {% trans 'out of' %} {{ answer_set.total_score }}.
            </p>
        </div>
        <div class="col-12">
            <p class="text-center about-text">
                <a class="btn btn-orange" href="{% url 'exams' %}">{% trans 'Try Again' %}</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock body %}