{% extends 'digitalbeti/logged-in/dashboard_base.html' %}
{% load static i18n %}
<!-- Title -->
{% block title %}
    Fill Form || Digital Beti
{% endblock title %}

{% load crispy_forms_tags %}

{% block subheader %}
    <!-- Heading -->
    <div class="container-fluid dashboard-header">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center">{% trans 'Registration' %} <span class="text-dark">{% trans 'Form' %}</span></h1>
            </div>
        </div>
    </div>
{% endblock subheader %}

{% block body %}

    <!-- Form -->
    <div class="container py-5">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ form.middle_name|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form.fathers_name|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{ form.mothers_name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form.gender|as_crispy_field }}
                </div>

                <div class="col-sm-8">
                    {{ form.date_of_birth|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form.email_id|as_crispy_field }}
                </div>
                <div class="col-sm-6">
                    {{ form.phone_number|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h6>{% trans 'Your Permanent Address:' %}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ paf.state|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ paf.district|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ paf.subdistrict|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ paf.village|as_crispy_field }}
                </div>
                <div class="col-sm-8">
                    {{ paf.text|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form.personal_monthly_income|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>{% trans 'Select Languages You Are Fluent In:' %}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form.language_pref_1|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ form.language_pref_2|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ form.language_pref_3|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form.education_qualification|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    {{ form.differently_abled|as_crispy_field }}
                </div>
                <div class="col-sm-4">
                    {{ form.bank_account|as_crispy_field }}
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-orange">Save Details</button>
            </div>
        </form>
    </div>

{% endblock body %}


{% block scripttags %}
    <script src="{% static "digitalbeti/js/address-form.js" %}"></script>
{% endblock scripttags %}